<a href="https://colab.research.google.com/github/saloabdala/Extracci-n-de-datos/blob/main/1_Extracci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Importamos librer√≠as
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [8]:
#Convertir en dataframe
df=pd.read_csv("file.csv")
df

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Imprimimos las primeras filas de registros
df.head(5)

In [ ]:
#Filtro por objeto
filtro1=df[df["Entidad_Federativa"]=="Puebla"]
filtro1

In [ ]:
#Filtro por filas
#filtro2=df-iloc[300:302,:]
filtro2=df.iloc[[1000, 2000, 3000], :] #filas no consecutivas
filtro2b=df.iloc[500:550 , :] #filas consecutivas
filtro2

In [ ]:
#Filtro por columnas
filtro3=df.iloc[:,4:7]
#filtro3=df.iloc[:,[1,4,6]] #columnas no consecutivas
filtro3

In [ ]:
#Filtro por columnas y filas
filtro_mix=df.iloc[0:99,2]
#filtro3=df.iloc[:,[1,4,6]] #columnas no consecutivas
filtro_mix

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df=pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)
df

Saving file.csv to file (6).csv

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Paso 2: Aplicamos Filtro de filas vs columnas
filtro4=df.loc[["Puebla","Durango"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

In [ ]:
#Filtro por cabecera
filtro5=df.head()
filtro5

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

**FILTROS B√ÅSICOS PARA VARIABLES CUANTITATIVAS**

In [ ]:
#Filtro por comparaci√≥n
filtro6=df[df["Periodo"]>=2006]
filtro6

**FILTROS B√ÅSICOS CON CONECTORES L√ìGICOS**

In [10]:
#Filtro Y
filtro7=df[(df['Periodo']>2015)&(df['Sexo']=='Hombres')]
filtro7

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
2904,2016,1,Nacional,Hombres,5273207,31481902,16.74996320000000000000
2906,2016,1,Aguascalientes,Hombres,85528,325760,26.254911590000000000000
2908,2016,1,Baja California,Hombres,229108,942502,24.308489530000000000000
2910,2016,1,Baja California Sur,Hombres,18070,221942,8.1417667680000000000000
2912,2016,1,Campeche,Hombres,18511,258864,7.1508591380000000000000
...,...,...,...,...,...,...,...
4544,2022,1,Tamaulipas,Hombres,237733,953568,24.930891140000000000000
4546,2022,1,Tlaxcala,Hombres,78609,352261,22.31555580000000000000
4548,2022,1,Veracruz,Hombres,185815,2020105,9.1982842480000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000

In [9]:
#Filtro o
filtro8=df[(df["Periodo"]>2006)|(df["Sexo"]=="Mujeres")]
filtro8

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
5,2005,1,Baja California,Mujeres,103697,398911,25.995021450000000000000
7,2005,1,Baja California Sur,Mujeres,4103,75648,5.4238049920000000000000
9,2005,1,Campeche,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [11]:
#Filtro not
filtro9=df[~(df["Periodo"]>=2006)&~(df["Sexo"]=="Mujeres")]
filtro9

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
6,2005,1,Baja California Sur,Hombres,9349,148814,6.2823390270000000000000
8,2005,1,Campeche,Hombres,17032,206708,8.2396423940000000000000
...,...,...,...,...,...,...,...
254,2005,4,Tamaulipas,Hombres,153867,814984,18.879757150000000000000
256,2005,4,Tlaxcala,Hombres,62629,274862,22.785616050000000000000
258,2005,4,Veracruz,Hombres,177063,1809574,9.7847891270000000000000
260,2005,4,Yucat n,Hombres,87066,488417,17.826160840000000000000
262,2005,4,Zacatecas,Hombres,26631,353848,7.5261129070000000000000